{% extends 'base.html.twig' %}

{% block body %}

<div class='demo'>
    Sorry! Funktion in der Demo-Version nicht verfügbar.
    <br>
    <a href='{{path('home')}}'><img src="{{ asset('img/close.png') }}" class='demoClose'></a>
</div>

{% endblock %}