body {
    font-family: Verdana;
    text-align: center;
    background-color: #dbeafe;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.main {
    width: 384px;
    padding: 12px;
    margin: 20px;
    background-color: #93c5fd;
    border-radius: 12px;
}

.title {
    font-size: 24px;
    line-height: 36px;
}

.showList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.create {
    background-color: #dbeafe;
    margin-top: 20px;
}

.button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.buttonImg {
    width: 28px;
    height: 28px;
}

.buttonImg:hover {
    opacity: 0.4;
}

.footer {
    font-size: 0.8em;
}

.demo {
    background-color: red;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

.demoClose {
    margin-top: 10px;
    width: 28px;
    height: 28px;
}

.demoClose:hover {
    opacity: 0.4;
}